<header class="header_area" id="header">
    <div class="header_menu">
        <div class="container-fluid">
            <div class="header_wrapper d-flex align-items-center justify-content-between">
                <div class="header_logo">
                    <a href="#home" class="page-scroll">
                            <img src="assets/img/logo-header-merex.png" alt="merex logo" loading="lazy" height="40">
                    </a>
                </div>
                <div class="header_toggle">
                    <button id="menu_open">
                        <span class="toggle_icon"></span>
                        <span class="toggle_icon"></span>
                        <span class="toggle_icon"></span>
                    </button>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header menu -->

    <div id="home" class="header_slider slider-active">
        <div class="single_slider d-flex align-items-center bg_cover" style="background-image: url(assets/img/slider-1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-10">
                        <div class="header_content">
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.2s">MEREX <br>Productora Asesora de Seguros.</h2>
                            <p data-animation="fadeInUp" data-delay="0.5s">La protección requerida para tu momento de vida.</p>
                            <a href="#project" class="main-btn page-scroll" data-animation="fadeInUp" data-delay="0.8s">Saber más</a>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

        <div class="single_slider d-flex align-items-center bg_cover" style="background-image: url(assets/img/slider-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-10">
                        <div class="header_content">
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.2s">¿Ya tienes <br> seguro de tu auto? </h2>
                            <p data-animation="fadeInUp" data-delay="0.5s">Sabemos que tu vehículo es una parte importante de tu vida.</p>
                            <a href="#project" class="main-btn page-scroll" data-animation="fadeInUp" data-delay="0.8s">Saber más</a>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

        <div class="single_slider d-flex align-items-center bg_cover" style="background-image: url(assets/img/slider-3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-10">
                        <div class="header_content">
                            <h2 class="title" data-animation="fadeInUp" data-delay="0.2s">Beneficios <br> para tu mascota.</h2>
                            <p data-animation="fadeInUp" data-delay="0.5s">La mejor protección para mi amigo favorito.</p>
                            <a href="#project" class="main-btn page-scroll" data-animation="fadeInUp" data-delay="0.8s">Saber más</a>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->

        <!--            <span class="title_shape">DIGITAL</span>-->
    </div> <!-- header menu -->
</header>