<section id="counter" class="counter_area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-20">
                    <h4 class="title">Historias</h4>
                    <h2 class="main_title">Números que hablan por mí</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="single_counter mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <i class="lni lni-cup"></i>
                    <span class="count counter">20</span>
                    <p>Títulos</p>
                </div> <!-- single counter -->
            </div>
            <div class="col-md-3 col-6">
                <div class="single_counter mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <i class="lni lni-users"></i>
                    <span class="count counter">40</span>
                    <p>Clientes Felices</p>
                </div> <!-- single counter -->
            </div>
            <div class="col-md-3 col-6">
                <div class="single_counter mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.6s">
                    <i class="lni lni-coffee-cup"></i>
                    <span class="count counter">5</span>
                    <p>Años de Experiencia</p>
                </div> <!-- single counter -->
            </div>
            <div class="col-md-3 col-6">
                <div class="single_counter mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <i class="lni lni-user"></i>
                    <span class="count counter">41</span>
                    <p>Equipo que me acompaña</p>
                </div> <!-- single counter -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>