<div class="side_menu_area">
    <button class="menu_close">
        <span class="close_icon"></span>
        <span class="close_icon"></span>
    </button>
    <div class="side_menu">
        <ul>
            <li><a class="page-scroll" href="#home">Inicio</a></li>
            <li><a class="page-scroll" href="#about">Acerca de Mí</a></li>
            <li><a class="page-scroll" href="#services">Servicios</a></li>
            <li><a class="page-scroll" href="#project">Seguros</a></li>
            <li><a class="page-scroll" href="#testimonial">Testimonios</a></li>
            <li><a class="page-scroll" href="#company">Empresas</a></li>
            <!-- <li><a class="page-scroll" href="#pricing">Pricing</a></li> -->
            <li><a class="page-scroll" href="#blog">Blog</a></li>
            <li><a class="page-scroll" href="#footer">Contact</a></li>
        </ul>
    </div> <!-- side menu -->
</div> <!-- side menu -->