<div class="modal fade" id="modalSeguro" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="modalSeguroLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-secondary" id="staticBackdropLabel">{{ seguros?.nombre }}</h3>
            </div>
            <img [src]="seguros?.modal?.imgUrl" [alt]="seguros?.imgAlt">
            <div class="modal-body"> {{ seguros?.modal?.description }} </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-merex" data-dismiss="modal">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


<section id="project" class="project_area pt-115 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section_title pb-60">
                    <h4 class="title">Seguros</h4>
                    <h2 class="main_title">Todos los seguros que te puedo ofrecer</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let seguro of insuranceService.seguros">
                <div class="single_project" (click)="mostrarModal( seguro )">
                    <div class="project_image">
                        <img [src]="seguro.imgUrl" [alt]="seguro.imgAlt" height="250" width="100">
                    </div>
                    <div class="project_content">
                        <h6 class="sub_title">{{ seguro.nombre }}</h6>
                        <h4 class="title"><a (click)="mostrarModal( seguro )" data-whatever="@mdo">Más Información</a>
                        </h4>
                        <a class="plus" (click)="mostrarModal( seguro )">
                            <i class="lni lni-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container fluid -->
</section>