<section id="about" class="about_area pt-80 pb-130">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_video mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <img src="assets/img/perfil.jpg" alt="about">
                    <!-- <a href="https://www.youtube.com/watch?v=fccI8zccmRs" class="play video-popup"><i class="lni lni-play"></i></a> -->
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about_content mt-50 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="section_title">
                        <h4 class="title">Acerca de Mí</h4>
                        <h2 class="main_title">María Dolores Saucedo <span>PAS</span></h2>
                    </div> <!-- section title -->

                    <p>
                        Soy una mujer a la que le
                        encanta estar en contacto con las personas, acompañando
                        y asesorando en todo momento. En el mundo de los seguros
                        estoy hace cinco años y me encuentro en constante
                        crecimiento.
                    </p>
                    <p>
                        Lo que busco es que vos como cliente tengas la confianza
                        suficiente para que cada duda o consulta que te surja la
                        puedas despejar sin miedos y con total libertad. En esta
                        vida lo más importante es cuidarnos y protegernos y es
                        por esto que te ofrezco un seguro acorde a tu bolsillo.
                    </p>
                    <p>
                        Recorda que lo más imporante sos vos y los tuyos, y yo
                        estoy para acompañarte en cada paso que des con
                        confianza y seguridad.
                    </p>

                    <!-- <div class="accordion pt-10" id="accordionExample">
                        <div class="card mt-25">
                            <div class="card-header" id="headingOne">
                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Web Development</a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-25">
                            <div class="card-header" id="headingTwo">
                                <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">UI/UX Design</a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-25">
                            <div class="card-header" id="headingThree">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Business Analysis</a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>