<section id="company" class="team_area pt-115 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-20">
                    <h4 class="title">Empresas</h4>
                    <h2 class="main_title">Conoce las aseguradoras con las que trabajo</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-7">
                <div class="single_team mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <div class="team_image">
                        <img src="assets/img/companies/logo-caledonia-seguros.jpg" alt="caledonia seguros merex pas">
                    </div>
                    <div class="team_content caledonia">
                        <h4 class="team_name">Caledonia Seguros</h4>
                        <!-- <span class="sub_title">UI/UX Designer</span> -->
                        <!-- <a class="arrow" href="https://www.caledoniaseguros.com.ar/" target="_blank"><i class="lni lni-chevron-right"></i></a> -->
                    </div>
                </div> <!-- single team -->
            </div>
            <div class="col-md-4 col-sm-7">
                <div class="single_team mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="team_image">
                        <img src="assets/img/companies/libra.jpg" alt="libra seguros merex pas">
                    </div>
                    <div class="team_content libra">
                        <h4 class="team_name">Libra Seguros</h4>
                        <!-- <span class="sub_title">Creative Designer</span> -->
                        <!-- <a class="arrow" href="https://www.libraseguros.com.ar/" target="_blank"><i class="lni lni-chevron-right"></i></a> -->
                    </div>
                </div> <!-- single team -->
            </div>
            <div class="col-md-4 col-sm-7">
                <div class="single_team mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <div class="team_image">
                        <img src="assets/img/companies/seguros-rivadavia.jpg" alt="seguros rivadavia merex pas">
                    </div>
                    <div class="team_content rivadavia">
                        <h4 class="team_name">Seguros Rivadavia</h4>
                        <!-- <span class="sub_title">Graphic Designer</span> -->
                        <!-- <a class="arrow" href="http://www.segurosrivadavia.com/personas/" target="_blank"><i class="lni lni-chevron-right"></i></a> -->
                    </div>
                </div> <!-- single team -->
            </div>
            <div class="col-md-4 col-sm-7">
                <div class="single_team mt-30 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <div class="team_image">
                        <img src="assets/img/companies/rus.jpg" alt="rio uruguay seguros merex pas">
                    </div>
                    <div class="team_content rus">
                        <h4 class="team_name">Río Uruguay Seguros</h4>
                        <!-- <span class="sub_title">Graphic Designer</span> -->
                        <!-- <a class="arrow" href="https://www.riouruguay.com.ar/" target="_blank"><i class="lni lni-chevron-right"></i></a> -->
                    </div>
                </div> <!-- single team -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>