@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "../scss/components/variables";
@import "../scss/components/mixins";
@import "../scss/bootstrap/bootstrap.scss";

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    &:before {
        box-sizing: inherit;
    }
    &:after {
        box-sizing: inherit;
    }
}
body {
    font-family: $font-family-body !important;
    font-size: 1.6rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1 {
    font-size: 4.8rem;
    font-family: $font-family-title !important;
    animation: fadeInLeft;
    animation-duration: 2s;
}
h2 {
    font-size: 4.4rem !important;
    animation: fadeInRight;
    animation-duration: 2s;
    font-family: $font-family-title;
    font-weight: 400;
}
h3 {
    font-size: 4rem;
    font-family: $font-family-body;
    font-weight: 700;
}
img {
    max-width: 100%;
}
.section {
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: $title-color;
}
.m-t-5 {
    margin-top: 5rem;
}
.m-b-8 {
    margin-bottom: 8rem;
}
.m-0 {
    margin: 0;
}
.d-block {
    display: block !important;
}
.modal {
    img {
        &:hover {
            transform: unset;
        }
    }
}
.text-primary {
    color: $primary-color !important;
}
.boton {
    @include button(#ffffff, 2rem);
}
.boton-modal {
    @include button(#ffffff, 1rem);
}
.boton-azul {
    @include button-primary($primary-color, #ffffff);
}
.boton-naranja {
    @include button-secondary($tertiary-color, $secondary-color);
}
.site-header {
    background-image: linear-gradient(
        to right,
        $primary-color,
        #0964b7,
        #1272c8,
        #1880d8,
        #1e8ee9,
        #208ae1,
        #2285da,
        #2381d2,
        #1e69b2,
        #165392,
        #0b3d74,
        #002957
    );
    padding: 1rem 0rem 3rem 0rem;
}
.site-header.inicio {
    background-image: url("../img/bg-header-blur.jpg");
    background-position: left;
    background-size: cover;
    height: 100vh;
    min-height: 80rem;
    h2 {
        font-family: $font-family-body;
    }
}
.contenedor-inicio {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contenido-header {
    height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10rem;
    h1 {
        font-size: 9rem;
        color: #ffffff !important;
        margin-bottom: 0rem;
    }
    h2 {
        font-size: 6rem;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
    }
}
.boton-header {
    margin: 0 auto;
    display: block;
    color: #d9eafe;
    text-transform: uppercase;
    font-size: 3rem;
    text-decoration: none;
    padding: 1.5rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(#000000, 0);
    animation: fadeInUp;
    animation-duration: 2s;
    &:before {
        content: "";
        position: absolute;
        border: #d9eafe solid 4px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: top, right, bottom, left;
        transition-property: top, right, bottom, left;
    }
    &:hover {
        text-decoration: none;
        color: #ffffff;
        &:before {
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
        }
    }
    &:focus {
        &:before {
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
        }
    }
    &:active {
        &:before {
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
        }
    }
}
.navbar {
    min-height: 7rem;
}
.iconos-sobre-mi__icono {
    text-align: center;
    animation: backInLeft;
    animation-duration: 2s;
}
.iconos-sobre-mi_titulo--uppercase {
    text-transform: uppercase;
}
i {
    color: $primary-color;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}
.bg-testimonios {
    background-image: url("../img/bg-testimonials.jpg");
    height: 100rem;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
}
.contenedor-testimonios {
    flex: 1;
    color: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    i {
        color: #ffffff;
    }
    img {
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        margin-bottom: 3rem;
    }
    p {
        margin: 0;
    }
}
.contenedor-testimonios__avatar-name {
    color: #ffffff;
    font-size: 2.5rem;
    background-color: $primary-color;
    padding: 0.5rem;
    border-radius: 1rem;
}
.contenedor-testimonios__avatar-job {
    color: #ffffff;
    font-size: 1.5rem;
    background-color: $secondary-color;
    padding: 0.5rem;
    border-radius: 1rem;
}
blockquote {
    text-align: center;
    font-size: 2.5rem;
}
.contenedor-blog {
    display: flex;
    flex-direction: column;
}
.contenedor_blog__entrada {
    margin-top: 5rem;
}
.contenedor_blog__imagen {
    flex-basis: 40%;
    margin-bottom: 5rem;
}
.contenedor_blog__entrada-descripcion {
    flex-basis: calc(60% - 3rem);
    line-height: 2.4rem;
    a {
        text-decoration: none;
    }
    h3 {
        margin: 0;
        &::after {
            content: "";
            display: block;
            margin-top: 1rem;
            width: 25rem;
            height: 0.5rem;
            background-color: $primary-color;
        }
    }
    p {
        text-align: justify;
    }
}

.footer {
    background: #152f4f;
    color: white;
    text-align: center;;
    .links {
        margin-bottom: 2rem;
        display: none;
        ul {
            list-style-type: none;
        }
        li a {
            color: white;
            transition: color 0.2s;
            &:hover {
                text-decoration: none;
                color: #4180cb;
            }
        }
    }
    .about-company {
        margin-bottom: 2rem;
        i {
            font-size: 25px;
        }
        a {
            color: white;
            transition: color 0.2s;
            &:hover {
                color: #4180cb;
            }
        }
    }
    .location {
        margin-bottom: 2rem;
        i {
            font-size: 18px;
        }
    }
    .copyright p {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.contenedor-sobre-mi__imagen {
    img {
        &:hover {
            transform: scale(1);
        }
    }
}
.contenedor-sobre-mi__texto {
    font-weight: 700;
    padding-top: 5rem;
    text-align: center;
}
iframe {
    width: auto;
}
form {
    margin: 0 auto;
    max-width: 100rem;
}
.contact_input {
    color: #2c3e50;
    font-size: 1em;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #2c3e50;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    &:focus {
        border: 3px groove #25a2ff;
    }
}
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
.contenedor-contacto__botones {
    button {
        border: unset;
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }
}
@media (min-width: 576px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
    .site-header.inicio {
        background-position: center center;
        height: 70vh;
        min-height: unset;
    }
    .navegacion {
        a {
            font-size: 1.8rem;
            margin-right: 2rem;
            display: inline-block !important;
            &:first-of-type {
                margin-left: 2rem;
            }
            &:last-of-type {
                margin-right: 0rem;
            }
        }
    }
    .contenido-header {
        h1 {
            font-size: 12rem;
        }
        h2 {
            font-size: 9rem;
            margin-bottom: 10rem;
        }
    }
    .bg-testimonios {
        height: 45rem;
        background-position: center center;
    }
    .contenedor-testimonios {
        img {
            width: 5%;
        }
    }
    .contenedor_blog__entrada {
        display: flex;
        justify-content: space-between;
    }
    .contenedor_blog__imagen {
        margin-bottom: 0;
    }
    .contenedor-footer {
        padding: 3rem 0rem;
        display: flex;
        justify-content: space-between;
    }
    .footer {
        nav {
            display: block;
        }
    }
    iframe {
        width: 120rem;
        height: 45rem;
    }
    .contenedor-contacto__botones {
        display: flex;
        justify-content: flex-end;
        button {
            border: unset;
            margin-left: 2rem;
            width: auto;
        }
    }
}
@media (min-width: 992px) {
    .logo {
        margin-right: 15rem;
    }
    iframe {
        width: 100% !important;
    }
}
@media (min-width: 768px) {
    .iconos-sobre-mi {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .contenedor-sobre-mi {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .navegacion a {
        font-size: 1.5rem;
    }
    iframe {
        width: 70rem;
    }
}
@media (min-width: 992px) {
    .footer
    {
        text-align: unset;
        .links{
            display: block;
        }
    }
}
