$primary-color: #0057A7;
$secondary-color: #002957;
$tertiary-color: #ff8611;

$title-color: #6c757d!important;

$font-family-base: 'Montserrat', sans-serif;
$font-family-title: 'Chewy', cursive;
$font-family-button: 'Roboto', sans-serif;