$primary-color: #0057a7;
$secondary-color: #002957;
$tertiary-color: #ff8611;
$verde: #4DC247;

$title-color: #6c757d !important;

$font-family-title: "Fredoka One", cursive;
$font-family-body: "Roboto", sans-serif;
$font-family-button: "Roboto", sans-serif;
