html {
    font-size: 62.5%; /*= 10px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

/* GLOBALES */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

h1 {
    font-size: 4.8rem;
    font-family: "Capriola", sans-serif;
    animation: fadeInLeft;
    animation-duration: 2s;
}

h2 {
    font-size: 4.4rem !important;
    animation: fadeInRight;
    animation-duration: 2s;
}

h3 {
    font-size: 4rem;
    font-family: "Capriola", sans-serif;
}

img {
    max-width: 100%;
}

/* UTILIDADES */
.section {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-900 {
    font-weight: 900;
}

.m-t-5 {
    margin-top: 5rem;
}

.m-b-8 {
    margin-bottom: 8rem;
}

.m-0 {
    margin: 0;
}

.d-block {
    display: block !important;
}

img {
    transition: all 0.2s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}

.modal img:hover {
    transform: unset;
}

.text-primary{
    color: #0057a7 !important;
}

/* BOTONES */
.boton {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 576px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton-azul {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #0057a7;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.boton-azul:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #25a2ff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.boton-azul:focus,
.boton-azul:hover,
.boton-azul:active {
    color: white;
}
.boton-azul:hover:before,
.boton-azul:focus:before,
.boton-azul:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.boton-naranja {
    background-color: #ff8611;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: border-radius;
    transition-property: border-radius;
}
.boton-naranja:hover,
.boton-naranja:focus,
.boton-naranja:active {
    border-radius: 1em;
}

/* HEADER */
.site-header {
    background-image: linear-gradient(
        to right,
        #0057a7,
        #0964b7,
        #1272c8,
        #1880d8,
        #1e8ee9,
        #208ae1,
        #2285da,
        #2381d2,
        #1e69b2,
        #165392,
        #0b3d74,
        #002957
    );
    padding: 1rem 0rem 3rem 0rem;
}

.site-header.inicio {
    background-image: url("../img/bg-header.jpg");
    background-position: left;
    background-size: cover;
    height: 100vh;
    min-height: 80rem;
}

@media (min-width: 576px) {
    .site-header.inicio {
        background-position: center center;
    }
}

.contenedor-inicio {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenido-header {
    height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.contenido-header h1 {
    font-size: 10rem;
    color: #ffffff !important;
    margin-bottom: 0rem;
}

.contenido-header h2 {
    font-size: 6rem;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.boton-header {
    margin: 0 auto;
    display: block;
    color: #d9eafe;
    text-transform: uppercase;
    font-size: 3rem;
    text-decoration: none;
    padding: 1.5rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation: fadeInUp;
    animation-duration: 2s;
}
.boton-header:before {
    content: "";
    position: absolute;
    border: #d9eafe solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.boton-header:hover:before,
.boton-header:focus:before,
.boton-header:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

/* NAVEGACION */
.navbar {
    min-height: 7rem;
}

@media (min-width: 992px) {
    .logo {
        margin-right: 15rem;
    }
}


.navegacion a {
    text-decoration: none;
    font-size: 2.2rem;
    color: #ffffff;
    display: block !important;
}

@media (min-width: 576px) {
    .navegacion a {
        font-size: 1.8rem;
        margin-right: 2rem;
        display: inline-block !important;
    }

    .navegacion a:first-of-type {
        margin-left: 2rem;
    }

    .navegacion a:last-of-type {
        margin-right: 0rem;
    }
}

.navegacion a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding-bottom: 0.8rem;
}
.navegacion a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098d1;
    height: 0.4rem;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.navegacion a:hover:before,
.navegacion a:focus:before,
.navegacion a:active:before {
    left: 0;
    right: 0;
}

/* CONTENDOR SOBRE MI */

@media (min-width: 768px) {
    .iconos-sobre-mi {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.iconos-sobre-mi__icono {
    text-align: center;
    animation: backInLeft;
    animation-duration: 2s;
}

i {
    color: #0057a7;
}

.iconos-sobre-mi__icono h3 {
    text-transform: uppercase;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/* CONTENEDOR TESTIMONIOS */

.bg-testimonios {
    background-image: url("../img/bg-testimonials.jpg");
    height: 100rem;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .bg-testimonios {
        height: 45rem;
        background-position: center center;
    }
}

.contenedor-testimonios {
    flex: 1;
    color: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-testimonios i {
    color: #ffffff;
}

.contenedor-testimonios img {
    border-radius: 50%;
    width: 5%;
    text-align: center;
    display: inline-block;
    margin-bottom: 3rem;
}

.contenedor-testimonios__avatar-name {
    color: #0057a7;
    font-size: 2.5rem;
}

.contenedor-testimonios p {
    margin: 0;
}

blockquote {
    text-align: center;
    font-family: "Capriola", sans-serif;
    font-size: 3rem;
}

/* CONTENEDOR BLOG */
.contenedor-blog {
    display: flex;
    flex-direction: column;
}
.contenedor_blog__entrada {
    margin-top: 5rem;
}

@media (min-width: 576px) {
    .contenedor_blog__entrada {
        display: flex;
        justify-content: space-between;
    }
}

.contenedor_blog__imagen {
    flex-basis: 40%;
    margin-bottom: 5rem;
}

@media (min-width: 576px) {
    .contenedor_blog__imagen {
        margin-bottom: 0;
    }
}

.contenedor_blog__entrada-descripcion {
    flex-basis: calc(60% - 3rem);
    line-height: 2.4rem;
}

.contenedor_blog__entrada-descripcion a {
    text-decoration: none;
}

.contenedor_blog__entrada-descripcion h3 {
    margin: 0;
}

.contenedor_blog__entrada-descripcion h3::after {
    content: "";
    display: block;
    margin-top: 1rem;
    width: 25rem;
    height: 0.5rem;
    background-color: #0057a7;
}

.contenedor_blog__entrada-descripcion p {
    text-align: justify;
}

/* FOOTER */
.footer {
    margin-bottom: 0;
    /* background-color: #002957; */
    background-image: linear-gradient(
        to right,
        #002957,
        #003666,
        #004475,
        #005284,
        #006093,
        #006093,
        #006093,
        #006093,
        #005284,
        #004475,
        #003666,
        #002957
    );
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #d9eafe;
}

.footer p {
    margin: 0;
    color: #ffffff;
}

.contenedor-footer {
    padding: 3rem 0rem;
    text-align: center;
}

@media (min-width: 576px) {
    .contenedor-footer {
        padding: 3rem 0rem;

        /*REEMPLAZADA POR BOOTSTAP SOLO EN EL INDEX*/
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }
}

.footer nav {
    display: none;
}

@media (min-width: 576px) {
    .footer nav {
        display: block;
    }
}

/*                  */
/* PAGINAS INTERNAS */
/*                  */
@media (min-width: 768px) {
    .contenedor-sobre-mi {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.contenedor-sobre-mi_texto {
    font-weight: 700;
    padding-top: 5rem;
    text-align: center;
}

/* CONTACT */

iframe {
    width: auto;
}

@media (min-width: 576px) {
    iframe {
        width: 120rem;
        height: 45rem;
    }
}

form {
    margin: 0 auto;
    max-width: 100rem;
}

.contact_input {
    color: #2c3e50;
    font-size: 1em;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #2c3e50;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.contact_input:focus {
    border: 3px groove #25a2ff;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

.contenedor-contacto__botones button {
    border: unset;
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}

@media (min-width: 576px) {
    .contenedor-contacto__botones {
        display: flex;
        justify-content: flex-end;
    }

    .contenedor-contacto__botones button {
        border: unset;
        margin-left: 2rem;
        width: auto;
    }
}
