<section id="testimonial" class="testimonial_area pt-115 pb-120 bg_cover" style="background-image: url(assets/img/testimonial_bg.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title section_title_2 text-center pb-50">
                    <h4 class="title">Testimonios</h4>
                    <h2 class="main_title">Qué dicen mis Clientes</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        
        <div class="row testimonial_active">
            <div class="col-lg-6">
                <div class="single_testimonial text-center">
                    <img src="assets/img/author-1.jpg" alt="author">
                    <h5 class="name">Sara A. K.</h5>
                    <span>Graphic Designer</span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Atvero eos et accusam et justo duo dolores et ea rebum. </p>
                </div> <!-- single testimonial -->
            </div>
            
            <div class="col-lg-6">
                <div class="single_testimonial text-center">
                    <img src="assets/img/author-1.jpg" alt="author">
                    <h5 class="name">John Doe</h5>
                    <span>Creative Designer</span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Atvero eos et accusam et justo duo dolores et ea rebum. </p>
                </div> <!-- single testimonial -->
            </div>
            
            <div class="col-lg-6">
                <div class="single_testimonial text-center">
                    <img src="assets/img/author-1.jpg" alt="author">
                    <h5 class="name">Ena Shah</h5>
                    <span>Web Designer</span>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Atvero eos et accusam et justo duo dolores et ea rebum. </p>
                </div> <!-- single testimonial -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>